.category {


    &-tag {
        font-size    : 1.1rem;
        font-weight  : 600;
        border       : 0.1rem solid var(--color-black);
        padding      : 0.2rem 1rem;
        border-radius: 1rem;
    }

    &-selected {
        background-color: var(--color-black);
        color           : var(--color-white);
    }

    &-list {
        overflow-x    : scroll;
        padding-bottom: 0.4rem;

        &::-webkit-scrollbar {
            height: 0.4rem;

            &-track {
                background-color: var(--color-white-1);

            }

            &-thumb {
                background-color: var(--images-thumbnail-scrollbar-thumb, var(--color-black));
            }
        }
    }
}