@use "./variables";
@import "./media_queries";

:root {
    --color-white   : #{variables.$app-color-white};
    --color-black   : #{variables.$app-color-black};
    --color-green   : #{variables.$app-color-green};
    --color-brown   : #{variables.$app-color-brown};
    --color-white-1 : #{variables.$app-color-white-1};
    --color-white-2 : #{variables.$app-color-white-2};

    --color-black-light: #{variables.$app-color-black-light};

}

body {
    font-family: 'Times New Roman', Times, serif;
}

.content-width-padding {
    padding-left : calc(1rem + (100vw - 4rem) * (15 - 30) / (660 - 1000));
    padding-right: calc(1rem + (100vw - 4rem) * (15 - 30) / (660 - 1000));
}

.content-height-padding {
    padding-top   : 1rem;
    padding-bottom: 1rem;

    @include responsiveScreen(tablet) {
        padding-top   : 1rem;
        padding-bottom: 1rem;
    }
}