.wallpaper-detail {

    &-main {
        border-radius: 2rem;
        margin       : 0 10rem;
        display      : flex;
        gap          : 2.5rem;
        box-shadow   : 0rem 0rem 1rem 0.1rem var(--color-black-light);
        padding      : 2rem;
    }

    &-top {

        &-icon {
            font-size       : 1.1rem;
            border-radius   : 9999rem;
            background-color: var(--wallpaper-detail-icon-bg, var(--color-white));
            padding         : 1rem;

            &:hover {
                --wallpaper-detail-icon-bg: var(--color-white-2)
            }
        }
    }

    &-img {
        border-radius: 1rem;
        width        : 55%;
    }

    &-content {
        width: 40%;
    }

    &-owner {
        &-avatar {
            background-position: center;
            background-size    : cover;
            width              : 3rem;
            aspect-ratio       : 1;
            border-radius      : 9999rem;
        }
    }

    &-commenter {
        &-avatar {
            background-position: center;
            background-size    : cover;
            width              : 2.2rem;
            aspect-ratio       : 1;
            border-radius      : 9999rem;
        }
    }

    &-comment {
        &-body {
            font-size: 1.1rem;
        }

        &-time {
            text-overflow: ellipsis;
            white-space  : nowrap;
            overflow     : hidden;
            color        : var(--color-black-light);
        }

        &-input {
            border          : none;
            outline         : none;
            border-radius   : 2rem;
            padding         : 0.7rem 1rem;
            background-color: var(--color-black-light);
            color           : var(--color-white);
        }
    }
}