.footer {
    margin-top      : 2rem;
    background-color: var(--color-white-1);
    min-height      : 200px;

    &-left {}

    &-logo {
        font-family: "Keania One", sans-serif;
        cursor     : pointer;
    }
}