.container {
    padding: 20px;
    font-family: 'Times New Roman', Times, serif;
  }
  
  .text-center {
    text-align: center;
  }
  
  .text-muted {
    color: #6c757d;
    
  }
  
  .rounded-circle {
    border-radius: 50%;
  }
  
  .mt-5 {
    margin-top: 3rem 
  }
  ư
  .mt-4 {
    margin-top: 1.5rem 
  }
  
  .ml-3 {
    margin-left: 1rem 
  }
  
  .font-weight-bold {
    font-weight: bold;
  }
  