table {
  width: 100%;
  border-collapse: collapse;

  thead {
    th {
      background-color: #f4f4f9;
      padding: 12px;
      text-align: left;
      border-bottom: 1px solid #ddd;
      user-select: none;

      & img {
        width: 20px;
      }

      &:first-child {
        width: 40px;
      }

      &:last-child {
        width: 120px;
      }
    }

    .sortable {
      cursor: pointer;
    }
  }

  tbody {
    tr {
      &:hover {
        background-color: #f9f9f9;
      }

      td {
        padding: 12px;
        border-bottom: 1px solid #ddd;

        &:first-child {
          width: 40px;
        }

        &:last-child {
          width: 120px;
        }
      }
    }
  }
}
